<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
</head>

<body>
        <div class="error">
           <h3>Oops! Page not found..</h3>
           <h1>404</h1>
           <p style="font-size: 17px;">We can't find the page you're looking for.</p>
           <!-- <a href="#">Go back home</a>   -->
        </div>

<%- include('includes/end.ejs') %>