<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
   
<div class="section">
    <div class="about">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <p style="text-align: justify; text-justify: inter-word;">We believe the best way deliver a great user experience is by deeply understanding what people want and love.Then deliver the features, messages and content that are most helpful, relevant and timely.That's what makes users happy and loyal.Kissmetrics strives to deliiver the tools and support that helps companines deliver that great experience.We want our customers to be happy, so then our customers are happy and that makes us happy.</p>
                <!-- <div class="button">
                    <a href="#">Read More</a>
                </div> -->
            </div>
            <div class="social">
                      <a href="#"><i class="fab fa-facebook-f"></i></a> 
                      <a href="#"><i class="fab fa-twitter"></i></a> 
                      <a href="#"><i class="fab fa-instagram"></i></a> 
            </div>
        </div>
        <div class="image-section">
            <img src="/bg.jpg" alt="">
        </div>
    </div>
</div>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>