<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/new-password.css">
    <title><%= pageTitle %></title>
    <style>
        .formBx #error {
            margin: auto;
            width: 100%;
            /* border: 1px solid #4771fa;
            padding: 0.5rem; */
            border-radius: 3px;
            background: #b9c9ff;
            text-align: center;
            margin-left: 1px;
            margin-bottom: 10px;
            border-color: red;
            background: rgb(255, 176, 176);
            color: red;
         }
    </style>
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="/bg.jpg" alt="bg" />
        </div>
        <div class="contentBx">
            <div class="formBx">
                <div id="error"></div>
                <h2>Set Password</h2>
                <form action="/new-password" method="POST" onsubmit="return validation()">
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" id="password" name="password" autocomplete="off"/>
                    </div>
                    <div class="inputBx">
                        <input type="hidden" name="adminuserId" value="<%= adminuserId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" value="Update Password" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">
    function validation() {
        var password = document.getElementById('password').value;

        var error = document.getElementById('error');
        var text;

        error.style.padding = "0.5rem";
        error.style.border = "1px solid red";

        if(password.length < 5) {
            text = "Please Enter a Password with only numbers and text and at least 5 Characters.";
            error.innerHTML = text;
            return false;
        }
    }
 </script>
</html>